.offcanvas-wrap {
  position: relative;
}

.floating-toggle-btn {
  position: fixed;
  top: 15%;
  transform: translateY(-50%);
  width: 40px;
  height: 60px;
  border-radius: 0% 10px 10px 0;
  border-left: none;
  z-index: 990;
  transition: all 0.17s ease;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.custom-offcanvas .floating-toggle-btn {
  position: absolute;
  right: -40px;
  transform: translateY(-50%);
  z-index: 990;
}

.custom-offcanvas {
  transition: transform 0.17s ease-out !important;
  background-color: var(--bs-body-bg);
}

.card-body {
  height: 250px;
  overflow-y: auto;
}

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
}

.heart-switch {
  --duration: .45s;
  --stroke: #D1D6EE;
  --stroke-active: #ec4472;
  --fill: #fff;
  --fill-active: #ec638e;
  --shadow: rgba(#00093D, .25);
  cursor: pointer;
  position: relative;
  transform: scale(var(--s, 1)) translateZ(0);
  transition: transform .2s;
  -webkit-tap-highlight-color: transparent;
  &:active {
      --s: .95;
  }
  input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: absolute;
      outline: none;
      border: none;
      pointer-events: none;
      z-index: 1;
      margin: 0;
      padding: 0;
      left: 1px;
      top: 1px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 1px 3px 0 var(--shadow);
      & + svg {
          width: 36px;
          height: 25px;
          fill: var(--fill);
          stroke: var(--stroke);
          stroke-width: 1px;
          stroke-linejoin: round;
          display: block;
          transition: stroke var(--duration), fill var(--duration);
      }
      &:not(:checked) {
          animation: uncheck var(--duration) linear forwards;
      }
      &:checked {
          animation: check var(--duration) linear forwards;
          & + svg {
              --fill: var(--fill-active);
              --stroke: var(--stroke-active);
          }
      }
  }
}

@keyframes uncheck {
  0% {
      transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
  50% {
      transform: rotate(30deg) translateX(9px);
  }
  75% {
      transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  100% {
      transform: rotate(30deg);
  }
}

@keyframes check {
  0% {
      transform: rotate(30deg);
  }
  25% {
      transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  50% {
      transform: rotate(30deg) translateX(9px);
  }
  100% {
      transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
      box-sizing: inherit;
  }
}

.heart-switch {
  margin: 12px 0;
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
  img {
      display: block;
      height: 28px;
  }
}

.p-multiselect-panel {
  z-index: 1100 !important;
}